.button_primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 50px;
    cursor: pointer;
    white-space: nowrap;
}

.button_secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 10px 50px;
    cursor: pointer;
    white-space: nowrap;
}